<aside class="sidebar">
    <div class="logo">
        <i class="fas fa-gamepad"></i>
        <span>LapakUdin</span>
    </div>
    <nav>
        <ul>
            <li><a href="/pages/home.html" data-page="beranda"><i class="fas fa-home"></i> Beranda</a></li>
            
            <li class="dropdown">
                <a href="/pages/joki.html" data-page="joki"><i class="fas fa-user-ninja"></i> Joki</a>
                <ul class="dropdown-menu">
                    <li><a href="/pages/rawat.html" data-page="joki/rawat-akun"><i class="fas fa-heart"></i> Rawat Akun</a></li>
                    <li><a href="pages/explore" data-page="joki/explore"><i class="fas fa-map"></i> Explore</a></li>
                    <li><a href="pages/material" data-page="joki/material"><i class="fas fa-gem"></i> Material</a></li>
                </ul>
            </li>
            
            <li><a href="#" data-page="topup"><i class="fas fa-coins"></i> Topup</a></li>
            <li><a href="#" data-page="tentang"><i class="fas fa-info-circle"></i> Tentang Kami</a></li>
        </ul>
    </nav>
</aside>
